* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 8px 16px #acacac;
  color: #fff;
  padding: 20px;
  border-radius: 15px;
}

.logo {
  font-size: 24px;
  color:black;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: black;
  border-radius: 5px;
}

/* Responsive breakpoint */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: #111;
    width: 200px;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    display: none;
    border-radius: 15px;
  }
  
  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}
p{
  text-align: center;
  margin: 35px;
  ;
  font-style: italic;
}
.fitur,
.fitur2,
.fitur3 {
  background-color: #fff;
  box-shadow: 0 18px 18px #dcdcdc;
  padding: 15px;
  border-radius: 14px;
  margin: 15px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.fitur:hover,
.fitur2:hover,
.fitur3:hover {
  transform: translateY(-5px);
  box-shadow: 0 25px 25px #c0c0c0;
}
.
.fitur p,.fitur2 p,.fitur3 p{
  font-size: 15px;
}
.fitur h3,.fitur2 h3,.fitur3 h3{
  text-align: center;
}

footer{
  background-color:black ;
  padding: 15px;
style-type: none;
}
footer h3{
  font-size: 15px;
  color:white;
  text-align: center;
}
.banner {
  margin:15px;
  text-align: center;
}
.banner img {
  width: 100%;
  max-width: 800px; /* bebas, tapi biasanya antara 600-1000px enak */
  height: auto;
  display: block;
  margin: 0 auto;
}